.button-container {
    display: flex;
    flex-direction: column 3 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.button-container .campButton {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}