.rettangolo {
    border: 2px solid #000; /* Imposta uno stile di bordo */
    padding: 20px; /* Aggiunge spazio interno al rettangolo */
    margin: 10px; /* Aggiunge margine esterno al rettangolo */
    background-color: #444; /*Imposta il colore di sfondo del rettangolo */
    border-radius: 10px; /* Aggiunge bordi arrotondati al rettangolo */
    width: 1010px; /* Imposta la larghezza del rettangolo */
}

.rettangolo_singolo {
    border: 2px solid #000; /* Imposta uno stile di bordo */
    padding: 5px; /* Aggiunge spazio interno al rettangolo */
    margin: 10px; /* Aggiunge margine esterno al rettangolo */
    background-color: #444;  /*Imposta il colore di sfondo del rettangolo */
    border-radius: 10px; /* Aggiunge bordi arrotondati al rettangolo */
    width: 100px; /* Imposta la larghezza del rettangolo */
    text-align: center;
}

.prima_colonna {
    border: 2px solid #000; /* Imposta uno stile di bordo */
    padding: 20px; /* Aggiunge spazio interno al rettangolo */
    margin: 10px; /* Aggiunge margine esterno al rettangolo */
    background-color: #444;  /*Imposta il colore di sfondo del rettangolo */
    border-radius: 10px; /* Aggiunge bordi arrotondati al rettangolo */
    width: 550px; /* Imposta la larghezza del rettangolo */
}

.prima_colonna, .seconda_colonna, .terza_colonna{
    display: inline-block;
    width: 26%; /* Imposta la larghezza desiderata per ciascun div */
    vertical-align: top; /* Allinea i div in cima uno all'altro (opzionale) */
    margin-right: 10px; /* Imposta la distanza desiderata tra le colonne */ 
} 

.seconda_colonna {
    border: 0px solid #000; /* Imposta uno stile di bordo */
    padding: 20px; /* Aggiunge spazio interno al rettangolo */
    margin: 10px; /* Aggiunge margine esterno al rettangolo */
    background-color: #272822;  /*Imposta il colore di sfondo del rettangolo */
    border-radius: 10px; /* Aggiunge bordi arrotondati al rettangolo */
    width: 500px; /* Imposta la larghezza del rettangolo */
}

.rettangolo_ts {
    border: 2px solid #000; /* Imposta uno stile di bordo */
    padding: 20px; /* Aggiunge spazio interno al rettangolo */
    margin: 10px; /* Aggiunge margine esterno al rettangolo */
    background-color: #444;  /*Imposta il colore di sfondo del rettangolo */
    border-radius: 10px; /* Aggiunge bordi arrotondati al rettangolo */
    width: 300px; /* Imposta la larghezza del rettangolo */
}

.rettangolo_abilita {
    border: 2px solid #000; /* Imposta uno stile di bordo */
    padding: 20px; /* Aggiunge spazio interno al rettangolo */
    margin: 10px; /* Aggiunge margine esterno al rettangolo */
    background-color: #444;  /*Imposta il colore di sfondo del rettangolo */
    border-radius: 10px; /* Aggiunge bordi arrotondati al rettangolo */
    width: 350px; /* Imposta la larghezza del rettangolo */
}

.rettangolo_HP {
    border: 2px solid #000; /* Imposta uno stile di bordo */
    padding: 10px; /* Aggiunge spazio interno al rettangolo */
    margin: 10px; /* Aggiunge margine esterno al rettangolo */
    background-color: #444;  /*Imposta il colore di sfondo del rettangolo */
    border-radius: 10px; /* Aggiunge bordi arrotondati al rettangolo */
    width: 400px; /* Imposta la larghezza del rettangolo */
}

.container {
    display: flex;
    justify-content: space-between;
}
  
.section {
    flex-basis: 30%; /* Imposta la larghezza desiderata per ciascuna sezione */
    text-align: left;
}
  
.section h2 {
    margin-bottom: 10px; /* Aggiunge spazio tra l'h2 e il contenuto sottostante */
}
  
.section > div {
    text-align: left; /* Allinea il contenuto del div funzionale a sinistra */
    margin-bottom: 10px; /* Aggiunge spazio tra il div funzionale e il pulsante "Aggiungi" */
}
  
button[type="button"] {
    margin-top: 10px; /* Aggiunge spazio tra il div funzionale e il pulsante "Aggiungi" */
    width: 250px;
    height: 20px;
}

img{
    margin-top: 10px; /* Aggiunge spazio tra il div funzionale e il pulsante "Aggiungi" */
    max-width: 300px; 
    max-height: 300px;
    margin-left: 20px;
}

.confirm {
    border: 2px solid green; /* Imposta uno stile di bordo */
    padding: 20px; /* Aggiunge spazio interno al rettangolo */
    margin: 10px; /* Aggiunge margine esterno al rettangolo */
    background-color: rgb(33, 191, 33); /* Imposta il colore di sfondo del rettangolo */
    border-radius: 10px; /* Aggiunge bordi arrotondati al rettangolo */
    width: 200px; /* Imposta la larghezza del rettangolo */
    color: white;
    font-size: large;
    font-family: 'Mooli', sans-serif;
}

textarea {
    margin-left: 10px;
    min-width: 200px;
    min-height: 50px;
}

#schermata-caricamento {
    /* Alcune personalizzazioni */
    background-color: #3498db;
    color: #fff;
}

.animate__bounce {
    animation-duration: 2s; /* Durata dell'animazione in secondi */
}  

/*body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /*background-image: url("../../server/resources/backgroundPlayer.jpg");
    color: white; 
}*/

