@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #27272c;
    color: white;
    font-family: 'Mooli', sans-serif;
    /*background: #cba667;*/
}
/* ******** LOADING ******** */
#loading-img{
    width: 20%;
    display: none;
}

/* ******** BOTTONE ADD ******** */
.top-right {
    display: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 2.5rem;
}
.top-right #add {
    top: 3%;
    right: 3%;
    border-radius: 2.5rem;
    position: absolute;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 0.5rem 1.45rem;
    transition: 0.2s;
}
.top-right #add:hover {
    border-radius: 2.5rem;
    letter-spacing: 0.2rem;
    padding: 0.6rem 1.55rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
}
.top-right #add::before {
    content: "";
    border-radius: 2.5rem;
    position: absolute;
    inset: 2px;
    background: #272822;
}
.top-right #add span {
    border-radius: 2.5rem;
    position: relative;
    z-index: 1;
}
/* ******** TITOLI ******** */
.four h1 {
    text-align: center; 
    padding-bottom: 0.7em;
    /*color: #444;*/
    color: white;
}
.four h1 span {
    font-weight: 300;
    word-spacing: 3px;
    line-height: 2em;
    padding-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.5);
}
.four h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 1px;
    content: "";
    left: 50%;
    margin-left: -30px;
    /*background-color: #777;*/
}

/* ******** BOTTONI MENU ******** */
.button-container .campButton {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
  }
  
  .button-container .campButton:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  .button-container .campButton::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  .button-container .campButton span {
    position: relative;
    z-index: 1;
  }
  .button-container .campButton i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .button-container .campButton i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  .button-container .campButton:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  .button-container .campButton i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  .button-container .campButton:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }



/*.button-container .campButton:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); 
    animation: box 3s infinite;
}
.button-container .campButton::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
}
.button-container .campButton span {
    position: relative;
    z-index: 1;
}
.button-container .campButton i {
    position: absolute;
    inset: 0;
    display: block;
}
.button-container .campButton i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}
.button-container .campButton:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}
.button-container .campButton i::after {
    content: "";
    position: fixed;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
    opacity: 0.7;
}
.button-container .campButton:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
}



@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes box {
    0% {
        box-shadow: #27272c;
    }
    50% {
        box-shadow: 0 0 25px var(--clr);
    }
    100% {
        box-shadow: #27272c;
    }
}
*/
/** EVENTUALE ANIMAZIONE DI CARICAMeNTO **/

/*
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #272822;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

*/
