#immagineFirebase {
    float: left; /* Posiziona l'immagine a sinistra */
    margin-right: 10px; /* Aggiunge un margine a destra per separare l'immagine dagli altri elementi */
    max-width: 110px;
    max-height: 120px;
  }
  
#nome_pg {
    margin-top: 0; /* Rimuove il margine superiore predefinito di h2 */
}
  
#dati_class_rank {
    align-items: baseline;
    font-size: small;
}

.progress-container {
    margin-left: 118px; 
    width: 300px; /* Larghezza del contenitore della barra di avanzamento */
    height: 5px; /* Altezza della barra di avanzamento */
    background-color: #f0f0f0; /* Colore di sfondo del contenitore */
    border: 1px solid #ccc; /* Bordo del contenitore */
}

.progress-bar {
    height: 100%;
    width: 0; /* Inizialmente la barra di avanzamento è vuota */
    background-color: #11ff00; /* Colore della barra di avanzamento */
    transition: width 0.5s ease; /* Aggiunge una transizione per l'animazione */
}

.container_car {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px; /* Spazio tra i rettangoli */
    padding: 20px; /* Padding esterno per spazio extra */
}

.rettangolo {
    width: 100px;
    height: 100px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rettangolo_BC {
    width: 130px;
    height: 100px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bonus_competenza {
    margin-top: 0; /* Rimuovi il margine superiore */
}

.rettangolo_I {
    width: 100px;
    height: 100px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rettangolo_S {
    width: 300px;
    height: 100px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container_mega {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px; /* Spazio tra i rettangoli */
    padding: 20px; /* Padding esterno per spazio extra */
    margin-top: -20px;
}

.colonna1 {
    margin-top: 10px;
}

.colonna2 {
  
}

.colonna3 {
  
}

.quadrato {
    width: 320px;
    height: 320px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: right;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.rettangolo_piccolo {
    width: 320px;
    height: 400px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: right;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.rettangolo_mega {
    width: 320px;
    height: 980px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: right;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
  
body {
    align-items: normal;
    justify-content: right;
    margin-left: 50px;
    margin-top: 50px;
}