#immagineFirebase {
    float: left; /* Posiziona l'immagine a sinistra */
    margin-right: 10px; /* Aggiunge un margine a destra per separare l'immagine dagli altri elementi */
    max-width: 110px;
    max-height: 120px;
  }
  
#nome_pg {
    margin-top: 0; /* Rimuove il margine superiore predefinito di h2 */
}
  
#dati_class_rank {
    align-items: baseline;
    font-size: small;
}

.progress-container {
    margin-left: 118px; 
    width: 300px; /* Larghezza del contenitore della barra di avanzamento */
    height: 5px; /* Altezza della barra di avanzamento */
    background-color: #f0f0f0; /* Colore di sfondo del contenitore */
    border: 1px solid #ccc; /* Bordo del contenitore */
}

.progress-bar {
    height: 100%;
    width: 0; /* Inizialmente la barra di avanzamento è vuota */
    background-color: #11ff00; /* Colore della barra di avanzamento */
    transition: width 0.5s ease; /* Aggiunge una transizione per l'animazione */
}

.container_car {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px; /* Spazio tra i rettangoli */
    padding: 20px; /* Padding esterno per spazio extra */
}

.rettangolo {
    width: 100px;
    height: 100px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rettangolo_BC {
    width: 130px;
    height: 100px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bonus_competenza {
    margin-top: 0; /* Rimuovi il margine superiore */
}

.rettangolo_I {
    width: 100px;
    height: 100px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rettangolo_S {
    width: 300px;
    height: 100px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_mega {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px; /* Spazio tra i rettangoli */
    padding: 20px; /* Padding esterno per spazio extra */
    margin-top: -20px;
}

.colonna1 {
    margin-top: 10px;
}

.colonna2 {

}

.colonna3 {
}

.top_colonna3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 20px;
    margin-top: 20px;
}

.quadrato {
    width: 320px;
    height: 320px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.rettangolo_piccolo {
    width: 320px;
    height: 450px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: left;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.rettangolo_abilita {
    width: 320px;
    height: 1110px;
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Definizione dello stile dei blocchi sopra */
.top-block {
    width: 100px; /* Larghezza desiderata */
    height: 100px; /* Altezza desiderata */
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    margin-bottom: 20px; /* Spazio tra i blocchi sopra */
    text-align: center;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-block2 {
    width: 200px; /* Larghezza desiderata */
    height: 100px; /* Altezza desiderata */
    background-color: #27272c;
    border: 2px solid #b92929;
    border-radius: 5px;
    margin-bottom: 20px; /* Spazio tra i blocchi sopra */
    text-align: left;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rettangolo_mega {
    width: 650px;
    height: 970px;
    background-color: hsl(240, 6%, 16%);
    border: 2px solid #b92929;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.navbar ul {
    list-style-type: none;
    background-color:hsl(240, 6%, 16%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #b92929;
    text-decoration-color: #b92929;
    padding: 10px;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.navbar li {
    float: left;
}

.navbar a:hover{
    background-color: hsl(240, 7%, 8%);
    border-radius: 5px;
    border: 1px solid #b92929;
}
  
body {
    align-items: normal;
    justify-content: center;
    margin-left: 50px;
    margin-top: 50px;
}

hr {
    border: 90%;
    width: 96%;
    height: 1px;
}

textarea {
    min-height: 100px; /* Altezza minima del textarea */
    min-width: 580px;
    background-color: #0000; /* Colore di sfondo */
    font-family: 'Mooli', sans-serif; /* Tipo di carattere */
    font-size: 16px; /* Dimensione del carattere */
    color: #ffffff; /* Colore del testo */
    resize: none; 
    /*border: none; /* Rimuove i bordi */
    outline: none; /* Rimuove l'outline al focus */
    border-color: grey;
    border-radius: 5px;
}

textarea::-webkit-scrollbar {
    display: none;
}


.spazio_inteno {
    width: 600px; /* Imposta la larghezza desiderata per il contenitore */
    height: 900px; /* Imposta l'altezza desiderata per il contenitore */
    overflow: auto; 
}

.spazio_inteno::-webkit-scrollbar {
    width: 12px; /* Imposta la larghezza della barra di scorrimento */
}

.spazio_inteno::-webkit-scrollbar-track {
    background: #f1f1f1; /* Colore di sfondo della traccia della barra di scorrimento */
}

.spazio_inteno::-webkit-scrollbar-thumb {
    background: #b92929; /* Colore del "pollice" della barra di scorrimento */
    border-radius: 5px; /* Imposta un bordo arrotondato per il "pollice" */
}

.spazio_inteno::-webkit-scrollbar-thumb:hover {
    background: #741919; /* Colore del "pollice" quando ci si passa sopra con il mouse */
}

.confirm {
    border: 2px solid #741919; /* Imposta uno stile di bordo */
    padding: 10px; /* Aggiunge spazio interno al rettangolo */
    background-color: #b92929; /* Imposta il colore di sfondo del rettangolo */
    border-radius: 10px; /* Aggiunge bordi arrotondati al rettangolo */
    width:100px; /* Imposta la larghezza del rettangolo */
    height: 50px;
    color: white;
    font-size: small;
    font-family: 'Mooli', sans-serif;
}
  

  

